<!DOCTYPE html>
<html>
    <head>
        <title>Create EC2 Instance</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='create_style.css') }}">
    </head>
    <body>
        <h1>Create EC2 Instance</h1>
        <form method="post">
            <label>Select an AMI
            <select name="selected_ami">
              {% for ami in amis %}
                <option value="{{ ami.ImageId }}">{{ ami.Name }}</option>
              {% endfor %}
            </select>
            </label><br>
            <label for="region">Region
            <select name="region" id="region">
                <option value="us-east-1">US East (N. Virginia) | us-east-1</option>
                <option value="us-east-2">US East (Ohio) | us-east-2</option>
            </select></label>
            <br>
            <label for="instance_type">Instance Type
            <select name="instance_type" id="instance_type">
                <option value="t2.micro">t2.micro</option>
                <option value="t2.small">t2.small</option>
                <option value="t2.medium">t2.medium</option>
            </select></label>
            <br>
            <label for="tag_name">Tag Name
            <input type="text" name="tag_name" id="tag_name" autofocus required>
            </label><br>
            <label for="key_name">Key Name
            <select name="key_name" id="key_name">
                <option value="">Select a key or leave empty</option>
                {% for key in key_names %}
                <option value="{{ key }}">{{ key }}</option>
                {% endfor %}
            </select>
            </label><br>
            <label for="create_key">Create Key
            <input type="checkbox" name="create_key" id="create_key" value="true">
            </label>
            <div id="new_key" style="display: none">
                <label for="key_name">New Key Name
                <input type="text" name="new_key_name" id="new_key_name">
                </label><br>
            </div>
            <label for="download_key">Download Key
            <input type="checkbox" name="download_key" id="download_key" value="true" disabled>
            </label><br>
            <script>
                document.getElementById("create_key").addEventListener("change", function() {
                    var newKey = document.getElementById("new_key");
                    var createKey = document.getElementById("create_key");
                    var downloadKey = document.getElementById("download_key");
                    if (createKey.checked) {
                        newKey.style.display = "block";
                        downloadKey.disabled = false;
                    } else {
                        newKey.style.display = "none";
                        downloadKey.disabled = true;
                    }
                });
            </script>
            <input type="submit" value="Create"></label>
        </form>
        <div class="response">
            {{ response }}
        </div>
        {% if error %}
        <div class="error">
            {{ error }}
        </div>
        {% endif %}
    </body>
</html>
